POSTGRES_DB=patchwelldb
POSTGRES_USER=patchwelluser
POSTGRES_PASSWORD=yourpass

DATABASE_URL=postgresql://patchwelluser:yourpass@postgres:5432/patchwelldb
REDIS_URL=redis://redis:6379

GEMINI_API_KEY=
GITHUB_TOKEN=